*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    color:rgb(14, 13, 13);
    font-family: 'Poppins', sans-serif;
   /*  font-family: 'Open Sans', sans-serif; */
    scroll-behavior: smooth;
  /*   overflow-x: hidden; */
   
    
   
  
  }
  
body{
  min-width: 100vw;
}
