{% extends "layout.html" %}


{% block body %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'about.css' %}"> {% endcomment %}
<div class="container mt-5 " style="min-height:60vh ;">
    <div class="row">

        <h2 class="display-5 text-center">Hakkımızda</h2>
    </div>
    <div class="row">
        <p class="h2">Biz kimiz?</p>
    </div>
    <div class="row p-5 mb-4 bg-light rounded-3">
        <p class="fs-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, libero?</p>
    </div>
</div>

     
{% endblock body %}